.Seccion_chats {

    display: flex;
    flex-direction: column;

    align-items: flex-start;

}

.Boton_chat_individual {

    margin-top: 10px;
    margin-right: 25%;
    margin-bottom: 10px;


}

/* .Boton_chat_individual:hover {

    background-color: #e6e6e6;

} */

.grupo_chat {

    display: flex;
    flex-direction: flex;

}

.boton_nuevo_chat {
    margin: 20px;
    width: 80%;
}