.Seccion_chats {

    display: flex;
    flex-direction: column;

    align-items: center;

}

.Boton_chat_individual {

    margin-top: 10px;
    margin-right: 25%;
    margin-bottom: 10px;

}

.boton_nuevo_chat {
    margin: 20px;
    width: 80%;
}