@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.chats_component_area {

    height: 100%;

    display: flex;

    flex-direction: column;

    margin: 0;

}

.chats_component_area2 {

    height: 100vh;

    display: flex;

    flex-direction: column;

    margin: 0;

    align-items: center;
    justify-content: center;
    bottom: 10px;

}

.imgChatArea {
    border-radius: 15px;
    width: 30vw;
    /* border: 1px solid #ccc; */
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.parrafoTexto {
    font-size: 1em;
    margin: 4px;
    padding-bottom: 0px;

}

.cifradoTxt {
    font-size: 0.8em;
    margin-top: 0px;
    padding-top: 20px;
    bottom: 10px;
}

.ChatsArea {

    display: flex;

    flex-direction: column;

    height: 90vh;

    bottom: 100px;

}

.scrollArea {
    display: flex;
}

.mensaje_individual {

    margin-top: 15px;

    width: 70%;

}

.received {

    align-self: flex-start;

}

.sent {

    align-self: flex-end;

    background-color: #94def1;
    /* background-color: #43b7d4; */


}

.input_chat_area {

    /* background-color: red; */

    height: 5vh;

    display: flex;

    flex-direction: row;

    justify-content: center;

    /* align-items: center; */
    align-items: center;

}

.tooltip_disabled {

    display: none;
}

.input_chat {
    width: 70vw;
    margin-right: 5px;
}

.mensaje_individual_div {

    display: flex;

    flex-direction: column;


}